@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    //ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<style>
    .form-info.valid {
        border: 1px solid green;
    }

        .form-info.valid p {
            color: green;
        }
</style>

<div class="container text-center">

    <h3>@ViewData["Title"]</h3>
    @*<partial name="_StatusMessage" for="StatusMessage" />*@
    <div class="d-flex justify-content-center">
        <div class="col-md-6">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.NewPassword" id="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <div class="form-info border-1 password-criteria">
                        <h6>Password must contain the following:</h6>
                        <p><i class="fa-solid fa-xmark"></i> Must be 9 characters long</p>
                        <p><i class="fa-solid fa-xmark"></i> Must have one lowercase letter</p>
                        <p><i class="fa-solid fa-xmark"></i> Must have one uppercase letter</p>
                        <p><i class="fa-solid fa-xmark"></i> Must have one special symbol</p>
                    </div>
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/custom/password-validation.js"></script>
}
