@using System.Web
@using ViewModels.Incident
@model IncidentViewModel


<div class="shadow-sm border border-gray-200 card-body InfoCard">
    <h6 class="fw-bold mb-3">Incident Details</h6>
    <div class="row">
        <label class="form-label">Type of Event<span class="text-danger">*</span></label>
        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div class="mb-3 eventCheck">
                    <input type="checkbox" id="option1" class="form-check-input">
                    <label class="form-check-label" for="option1">Option 1</label>
                </div>
                <div class="mb-3 eventCheck">
                    <input type="checkbox" id="option2" class="form-check-input">
                    <label class="form-check-label" for="option2">Option 2</label>
                </div>
                <div class="mb-3 eventCheck">
                    <input type="checkbox" id="option3" class="form-check-input">
                    <label class="form-check-label" for="option3">Option 3</label>
                </div>
                
            </div>

         @*    <div class="mb-3">
                <label class="form-label">Type of Event<span class="text-danger">*</span></label>
                <select class="form-select" id="eventTypeId" required asp-for="incidentDetails.EventTypeId">
                    <option value="" selected >-- Select --</option>
                    @foreach (var item in Model.incidentDetails.EventTypes)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <div class="invalid-feedback"></div>
            </div> *@
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <input type="checkbox" id="option4" class="form-check-input">
                <label class="form-check-label" for="option4">Other</label>
            </div>
            <div class="mb-3">
                @* <label class="form-label">Other</label> *@
                <input type="text" id="other" class="form-control">

            </div>
        </div>
    </div>



    <div class="d-flex justify-content-end gap-2 mt-3 addIncidentBtns">
        <button type="button" class="btn btnBack" id="backButton">Back</button>
        <button type="button" class="btn btn-primary" id="nextToDescriptionIssue">Next</button>
    </div>
</div>
