@using System.Web
@using ViewModels.Incident
@model IncidentViewModel


<div class="shadow-sm border border-gray-200 card-body InfoCard">
    <h6 class="fw-bold mb-3">Severity</h6>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="severityLevelId">Severity<span class="text-danger">*</span></label>
                <select class="form-select" id="severity" required asp-for="severityLevelId">
                    <option value="" selected>-- Select --</option>
                    @foreach (var item in Model.severityLevels)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <div class="invalid-feedback"></div>
            </div>

        </div>
      @*   <div class="col-md-6">
            <div class="mb-3 d-none" id="lowOptions">
                <label for="lowEvent" class="form-label">Low</label>
                <select class="form-select" id="lowEvent">
                    <option value="" selected disabled>-- Select an option --</option>
                    <option>Routine service issue</option>

                </select>
            </div>
            <div class="mb-3 d-none" id="moderateOptions">
                <label for="moderateEvent" class="form-label">Moderate</label>
                <select class="form-select" id="moderateEvent">
                    <option value="" selected disabled>-- Select an option --</option>
                    <option>Verified leak</option>
                    <option>Localized hazard</option>
                </select>
            </div>
            <div class="mb-3 d-none" id="highOptions">
                <label for="highEvent" class="form-label">High</label>
                <select class="form-select" id="highEvent">
                    <option value="" selected disabled>-- Select an option --</option>
                    <option>Explosion</option>
                    <option>Multiple reports</option>
                    <option>High risk to public safety</option>
                </select>
            </div>
        </div>
 *@
    </div>

    <div class="d-flex justify-content-end gap-2 mt-3">
        <button type="button" class="btn btn-primary" id="nextToEnvironmental">Next</button>
    </div>
</div>
